
.dateInput{
    border: 2px solid rgb(173, 171, 171);
    outline: none;
    font-family: 'roboto';
    padding: 6px 8px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: bold;
    width: 136px;
    color: var(--lightGreen);
    font-family: roboto;
  }

  

.apexcharts-toolbar {
  display: none !important;
}