.top5KwhTable td , .top5KwhTable th{
    border: 1px solid rgb(171, 168, 168);
    text-align: left;
}


.top5KwhTable td {
    text-align: left;
}

.top5KwhTable th:last-child{
    text-align: center;
}